a %btn {
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: $font-stack-helvetica;
}

.primary {
  @extend %btn;
  background-color: colour('primary');
}

.primary.orange {
  @extend %btn;
  background-color: colour('secondary');
}
